:root {
  /* Color */
  --white-color: white;
  --black-color: black;
  --blue-color: #304fff;
  --red-color: rgb(230, 6, 6);
  --gray-color: gray;
  --gray-light-color: rgba(163, 163, 163, 0.527);

  /* font size */
  --font-large: 20px;
  --font-medium: 18px;
  --font-small: 15px;
  --font-micro: 12px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  color: var(--white-color);
  background-color: var(--black-color);
  height: 40px;
  font-weight: bold;
}

.fa-youtube {
  color: var(--red-color);
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.action_bar {
  display: flex;
  list-style: none;
}
.action_bar li {
  padding: 0px 10px;
}

.player {
  text-align: center;
  background-color: var(--black-color);
  position: sticky;
  top: 0px;
}

.player video {
  max-width: 1000px;
}
section.info {
  padding: 10px 15px;
}
.hashtag {
  list-style: none;
  display: flex;
  padding: 0;
  color: var(--blue-color);
  font-size: var(--font-small);
  margin: 0;
}

.hashtag li {
  font-weight: bold;
  padding-right: 10px;
}

.titleAndButton {
  display: flex;
  flex-direction: row;
}

.titleAndButton .video_title {
  padding-top: 10px;
  font-size: var(--font-large);
  font-weight: bold;
}

.titleAndButton .video_title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.titleAndButton .moreBtn {
  height: 100%;
  color: var(--black-color);

  transition: transform 300ms ease-in-out;
}

.titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}

.views {
  font-size: var(--font-micro);
  margin: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 10px 0px;
  padding: 0px 40px;
  font-size: var(--font-large);
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: white;
}

button:focus,
video:focus {
  outline: none;
}

.actions button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-small);
  color: var(--gray-color);
}

.actions button i {
  margin: 8px;
}

.channal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-top: 2px solid var(--gray-light-color);
  border-bottom: 2px solid var(--gray-light-color);
}

.channal .info {
  display: flex;
  align-items: center;
}

.fa-user-alt {
  font-size: 30px;
}

.channal .subcribe_button {
  color: var(--red-color);
}

.uploader_inform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  padding: 0px 10px;
}

.uploader_name {
  font-size: var(--font-medium);
  font-weight: bold;
  margin: 0;
}

.uploader_subscriber {
  font-size: var(--font-micro);
  margin: 0;
}

.subcribe_buttom {
  background-color: var(--white-color);
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-medium);
  font-weight: bold;
}
.upNext {
  padding: 0px 15px;
}

.upNext ul {
  padding: 0;
  margin-top: 5px;
}

.item {
  display: flex;
  padding: 5px 0px;
}

.item .img {
  flex: 1 1 35%;
}
.item .img img {
  width: 100%;
}

.item .info {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.item .title {
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.item .name,
.item .views {
  margin: 0;
  font-size: var(--font-micro);
}

.upNext button {
  flex: 1 1 5%;
  height: 100%;
  font-size: var(--font-small);
  color: var(--black-color);
  padding-left: 10px;
}

@media screen and (min-width: 800px) {
  .change_part {
    display: flex;
    flex-direction: row;
  }
  .info {
    width: 50%;
  }
  .upNext {
    padding: 10px 15px;
    width: 50%;
  }
  .next {
    margin-top: 10px;
  }
}
